.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 95%;
        max-width: 1400px;
        margin: auto;
    }

    &__logo {
        width: 100%;
        text-align: center;

        @media only screen and (min-width: 768px) {
            max-width: 200px;
            text-align: left;
        }
    }

    &__menu {
        width: 100%;

        @media only screen and (min-width: 768px) {
            max-width: calc(100% - 200px);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0 10px;
            justify-content: center;

            @media only screen and (min-width: 768px) {
                justify-content: flex-end;
                gap: 0 20px;
            }

            margin: 0;
            padding-left: 0;
            list-style-type: none;

            li {
                a {
                    text-transform: capitalize;
                    &.is-active {
                        color: #ff1493;
                    }
                }
            }
        }
    }
}
